<% include partials/header %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    

    <table>
        <tr>
            <th>Pull#</th>
            <th>Title</th>
            <th>Username</th>
            <th>Created @</th>
            <th>README.md</th>
        </tr>

        <% for (var i = 0; i < pullRequestList.length; i++) { %>
            <tr>
                <td>
                    <%= pullRequestList[i].number %>
                </td>
                <td>
                    <%= pullRequestList[i].title %>
                </td>
                <td>
                    <%= pullRequestList[i].user %>
                </td>
                <td>
                    <%= pullRequestList[i].created_at %>
                </td>
                <td>
                    <!-- <a href="<%= pullRequestList[i].readme_link %>" target="_blank">View README.md</a> -->
                    <div id="partial-<%= pullRequestList[i].user %>"></div>
                    <!-- <button type="button" id="load-partial-<%= pullRequestList[i].user %>" /> -->
                    <script>
                        // $('#load-partial-<%= pullRequestList[i].user %>').click(function () {
                            $('#partial-<%= pullRequestList[i].user %>').load('/CPE-CMU-26/readme/<%= pullRequestList[i].user %>');
                        // });
                    </script>
                </td>
            </tr>
            <% } %>
    </table>

    <% include partials/footer %>