<% include partials/header %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/main.css">

    <table border="1">
        <tr>
            <th>ID</th>
            <th>#Submit</th>
            <th>Token</th>
            <th>test_case 1</th>
            <th>test_case 2</th>
            <th>test_case 3</th>
            <th>test_case 4</th>
            <th>test_case 5</th>
            <th>test_case 6</th>
            <th>test_case 7</th>
            <th>blind_case 1</th>
            <th>blind_case 2</th>
            <th>blind_case 3</th>
            <th>blind_case 4</th>
            <th>blind_case 5</th>
        </tr>

        <% for (var i = 0; i < PE1List.length; i++) { %>
            <tr>
                <td>
                    <%= PE1List[i].id %>
                </td>
                <td>
                    <%= PE1List[i].count %>
                </td>
                <td>
                    <a href="<%= PE1List[i].repoUrl %>"><%= PE1List[i].token %> => <%= PE1List[i].exam %></a>
                </td>
                <td class="<%= PE1List[i].tc1 %>">
                    <%= PE1List[i].tc1 %>
                </td>
                <td class="<%= PE1List[i].tc2 %>">
                    <%= PE1List[i].tc2 %>
                </td>
                <td class="<%= PE1List[i].tc3 %>">
                    <%= PE1List[i].tc3 %>
                </td>
                <td class="<%= PE1List[i].tc4 %>">
                    <%= PE1List[i].tc4 %>
                </td>
                <td class="<%= PE1List[i].tc5 %>">
                    <%= PE1List[i].tc5 %>
                </td>
                <td class="<%= PE1List[i].tc6 %>">
                    <%= PE1List[i].tc6 %>
                </td>
                <td class="<%= PE1List[i].tc7 %>">
                    <%= PE1List[i].tc7 %>
                </td>
                <td class="<%= PE1List[i].bc1 %>">
                    <%= PE1List[i].bc1 %>
                </td>
                <td class="<%= PE1List[i].bc2 %>">
                    <%= PE1List[i].bc2 %>
                </td>
                <td class="<%= PE1List[i].bc3 %>">
                    <%= PE1List[i].bc3 %>
                </td>
                <td class="<%= PE1List[i].bc4 %>">
                    <%= PE1List[i].bc4 %>
                </td>
                <td class="<%= PE1List[i].bc5 %>">
                    <%= PE1List[i].bc5 %>
                </td>
            </tr>
            <% } %>
    </table>

    <% include partials/footer %>